:root {
  --clr-primary-highlight-text: hsl(39, 100%, 61%);
  --clr-primary-highlight-dark-text: hsl(29, 100%, 55%);
  --clr-primary-400: #baf5ce;
  --clr-primary-700: rgb(0, 55, 156);
  --clr-bg-container: hsla(0, 0%, 100%, 0.95);
  --ff-primary: "Nunito", sans-serif;
  --ff-accent: "Baloo Tamma 2", cursive;
  --clr-mobile-primary-header: hsl(33, 91%, 78%);
  --clr-mobile-primary-navy--500: hsl(227, 35%, 22%);
  --clr-mobile-primary-navy--800: hsl(227, 25%, 22%);
  --clr-mobile-primary-gray--500: hsl(235, 10%, 30%);
}
.aboutUs {
  background-color: var(--clr-mobile-primary-navy--500);
  color: white;
  font-size: 1.35rem;
  font-family: var(--ff-primary);
  line-height: 2;
}
.aboutUs__elem {
  margin-inline: auto;
  width: min(85%, 75rem);
  padding: 1rem 0 1rem;
}
.aboutUs__elem ul {
  margin-top: 1rem;
  margin-left: 3rem;
}
.highlight-text {
  color: var(--clr-primary-highlight-dark-text);
}

.list-items {
  margin-left: 2rem;
}
