:root {
  --clr-primary-highlight-text: hsl(39, 100%, 61%);
  --clr-primary-highlight-dark-text: hsl(29, 100%, 55%);
  --clr-primary-400: #baf5ce;
  --clr-primary-700: rgb(0, 55, 156);
  --clr-bg-container: hsla(0, 0%, 100%, 0.95);
  --ff-primary: "Nunito", sans-serif;
  --ff-accent: "Baloo Tamma 2", cursive;
  --clr-mobile-primary-header: hsl(33, 91%, 78%);
  --clr-mobile-primary-navy--500: hsl(227, 35%, 22%);
  --clr-mobile-primary-navy--800: hsl(227, 25%, 22%);
  --clr-mobile-primary-gray--500: hsl(235, 10%, 30%);
}
.footer {
  background-color: hsl(0, 0%, 87%);
  color: hsl(0, 0%, 39%);
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  border-top: 0.002rem solid hsl(0, 0%, 77%);
  font-family: var(--ff-primary);
  width: 100vw;
}
