:root {
  --clr-primary-highlight-text: hsl(39, 100%, 61%);
  --clr-primary-highlight-dark-text: hsl(29, 100%, 55%);
  --clr-primary-400: #baf5ce;
  --clr-primary-700: rgb(0, 55, 156);
  --clr-bg-container: hsla(0, 0%, 100%, 0.95);
  --ff-primary: "Nunito", sans-serif;
  --ff-accent: "Baloo Tamma 2", cursive;
  --clr-mobile-primary-header: hsl(33, 91%, 78%);
  --clr-mobile-primary-navy--500: hsl(227, 35%, 22%);
  --clr-mobile-primary-navy--800: hsl(227, 25%, 22%);
  --clr-mobile-primary-gray--500: hsl(235, 10%, 30%);
}

.userExperience {
  height: auto;
  background-color: var(--clr-mobile-primary-navy--800);
  background-color: whitesmoke;
  /* background-color: rgb(44, 44, 44); */
  display: grid;
  place-items: center;
  padding-top: 1rem;
}
.uxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.userExperience__title {
  color: #323232;
  font-size: 3rem;
  font-family: var(--ff-accent);
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.userEperience__description {
  color: #323232;
  font-size: 1.625rem;
  font-family: var(--ff-primary);
  text-align: center;
  padding-inline: 2rem;
  max-width: 1220px;
}
.userExperience__grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 2rem;
  max-width: 1600px;
}
.userExperience__pic {
  max-width: 371px;
  height: auto;
  margin-inline: 10px;
}
.userExperience__pic img {
  width: 100%;
  height: auto;
  margin: 10px;

  object-fit: contain;
  border-radius: 12%;
}

@media only screen and (max-width: 500px) {
  .userExperience__title {
    font-size: 2.2rem;
  }
  .userEperience__description {
    font-size: 1.5rem;
  }
}
